<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Add to Checklist </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
</head>
<body>
    <!-- Navigation bar -->
    <header>
            <nav class = "navbar navbar-expand-md bg-info h4 px-4 py-3 text-white" style = "min-height: 75px;">
                <!-- Website name-->
                <span class="fs-4 px-2"> JourneyGenie </span>

                <!-- Other pages -->
                <div class="navbar-collapse fs-5 d-flex justify-content-md-end justify-content-center">
                    <ul class="navbar-nav">
                        <!-- Home -->
                        <form action="/home" method="GET">
                            <input type="submit" value="Home" class="btn btn-dark text-white mx-2"></input>
                        </form>

                        <!-- Routes -->
                        <form action="/map" method="GET">
                            <input type="submit" value="Routes" class="btn btn-dark text-white mx-2"></input>
                        </form>

                        <!-- Preferences -->
                        <form action="/preferences" method="GET">
                            <input type="submit" value="Preferences" class="btn btn-dark text-white mx-2"></input>
                        </form>

                        <!-- Log out -->
                        <form action="/logout" method="POST">
                            <input type="submit" value="Log out" class="btn btn-danger text-white mx-2"></input>
                        </form>
                    </ul>
                </div>
            </nav>
    </header>


    <!-- Container -->
    <main class="container" style="margin-top: 100px;">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1 class="text-center mb-5"> Add Activities to Checklist </h1>
                <form th:action="@{/makeChecklist/{id}(id=${route.id})}" method="POST">
                    <div class = "mt-5 mb-3">
                        <input type="text" name="activity" placeholder = "Item" class = "form-control" required>
                    </div>

                    <div>
                        <input type="submit" value="Add to checklist" class = "btn btn-info text-white w-100 mt-2 mb-5"></input>
                    </div>
                </form>
                
                <a th:href="@{|checklist/${route.id}|}"> View Checklist </a>
            </div>

            <div>
                
            </div>
        </div>
    </main>

    
</body>
</html>