<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Preferences</title>
    <script type="importmap">
        {
          "imports": {
            "@google/generative-ai": "https://esm.run/@google/generative-ai"
          }
        }
    </script>
    <script type="module">

        import { GoogleGenerativeAI } from "@google/generative-ai";        
        
        const API_KEY = "[[${GOOGLE_API_KEY}]]"; // Add your API key here
        
        const genAI = new GoogleGenerativeAI(API_KEY);
    
        const model = genAI.getGenerativeModel({ model: "gemini-1.5-flash" });
      
        async function generateContent(prompt) {
            try {
                const result = await model.generateContent(prompt);
                const response = await result.response;
                const text = await response.text();
                return text;
            } catch (error) {
                console.error('Error generating content:', error);
                return 'Failed to generate content';
            }
        }
    
    
        document.getElementById('generateTrip').addEventListener('click', async () => {
            let input = "Create a list of activities for a trip. It should be displayed as an ampersand-separated list of street addresses. "
            + "The list should also contain short descriptions of the activities which are contained by curved brackets. "
            + "There must be one activity per day. "
            + "The output should contain no end-of-lines. Nothing else should be shown.";
            if ("[[${user.preferences.duration}]]") input += " The trip should be [[${user.preferences.duration}]] days long";
            if ("[[${user.preferences.location}]]") input += " The activities should be in and around [[${user.preferences.location}]]";
            if ("[[${user.preferences.range}]]") input += " The activities should be a maximum of [[${user.preferences.range}]] hours away from eachother";
            if ("[[${user.preferences.interests}]]") input += " The trip should suit someone who is interested in [[${user.preferences.interests}]]";

            const outputDiv = document.getElementById('generationStatus');
            outputDiv.textContent = 'Generating...';
        
            let generatedText = await generateContent(input);
            outputDiv.textContent = generatedText.replaceAll("&","\n");

            if (!document.getElementById("createRoute")) {
                const createRoute = document.createElement("div");
                createRoute.innerHTML = 
                '<form action="/index/' + generatedText + ' method="GET">'
                + '<input type="submit" id="createRoute" value="createRoute" class = "btn btn-info text-white w-100"></input>'
                + '</form>'
                outputDiv.append(createRoute);
            }
        });
    </script>
    <script>
        function savePreferences() {

            let interests = document.getElementsByClassName("interests");
            var interestList = interests[0].value;

            for (let i = 1; i < interests.length; i++) {
                interestList += "," + interests[i].value;
            }

            fetch('/save-preferences', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: new URLSearchParams({
                        'duration': document.getElementById("duration").value,
                        'tolls': document.getElementById("tolls").checked,
                        'location': document.getElementById("location").value,
                        'range': document.getElementById("range").value,
                        'interests': interestList
                    })
                })
                    .then(response => {
                        if (response.ok) {
                            alert('Preferences saved successfully.');
                        } else {
                            alert('Failed to save preferences.');
                        }
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
        }

        function addInterest() {
            let preferences = document.getElementById("preferences");
            let interest = document.getElementsByClassName("interests")[0].cloneNode();
            interest.value = "";
            preferences.appendChild(interest);
        }
    </script>
</head>
<body>
    <header>
        <nav class = "navbar navbar-expand-md bg-info h4 px-4 py-3 text-white" style = "min-height: 75px;">
            <!-- Website name-->
            <span class="fs-4 px-2"> JourneyGenie </span>

            <!-- Other pages -->
            <div class="navbar-collapse fs-5 d-flex justify-content-md-end justify-content-center">
                <ul class="navbar-nav">
                    <!-- Home -->
                    <form action="/home" method="GET">
                        <input type="submit" value="Home" class="btn btn-dark text-white mx-2"></input>
                    </form>

                    <!-- Routes -->
                    <form action="/map" method="GET">
                        <input type="submit" value="Routes" class="btn btn-dark text-white mx-2"></input>
                    </form>

                    <!-- Log out -->
                    <form action="/logout" method="POST">
                        <input type="submit" value="Log out" class="btn btn-danger text-white mx-2"></input>
                    </form>
                </ul>
            </div>
        </nav>
    </header>
    <main class = "container">

        <div style = "margin-top: 100px;">

                <h1 class="text-center mb-5">Preferences</h1>
                <form id="preferences" class="row justify-content-sm-center">
                    <label for="duration">Trip duration</label>
                    <input type="number" name="duration" id="duration" th:value="${user.preferences.duration}" required> <br>
                    <label for="tolls">Allow tolls roads</label>
                    <input th:if="${user.preferences.tolls}" type="checkbox" name="tolls" id="tolls" checked>
                    <input th:unless="${user.preferences.tolls}" type="checkbox" name="tolls" id="tolls">
                    <label for="location">Prefered Country</label>
                    <input type="text" name="location" id="location" placeholder="country/leave empty for suggestions" th:value="${user.preferences.location}"> <br>
                    <label for="range">Max time between Activities</label>
                    <input type="number" name="range" id="range" th:value="${user.preferences.range}"> <br>
                    <label for="interests">Interests</label>
                    <button onclick="addInterest()" class="btn btn-dark text-white mx-2">Add Interest</button>
                    <input th:each="interest:${interests}" type="text" name="interests" class="interests" required th:value="${interest}">
                </form>
                <button onclick="savePreferences()" class = "btn btn-info text-white w-100">Save</button>
                <button id="generateTrip" class = "btn btn-info text-white w-100">Generate trip</button>
                <div id="generationStatus" style="white-space: pre-line"></div>

        </div>
    </main>
    
</body>
</html>