<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>USERS</h1>
        <ul>
            <li th:each="user:${user}">
                <span th:text="${user.name}"></span> <br>
                <span th:text="${user.password}"></span>
                <!-- <div th:switch="${user.name}">
                    <span th:case="'brandon'">hey! it's Brandon!</span>
                    <span th:case="'steve'">uh oh! it's Steve!</span>
                    <span th:case="*">General user</span>
                </div> -->
            </li>
        </ul>
    </div>
</body>
</html>